.dt-container{
  position:fixed;
  bottom:0;
  left:0;
  width:100vw;
}
.dt-container .dt-header{
  display:-webkit-flex;
  display:flex;
  display:-webkit-box;
  box-align:center;
  -webkit-box-align: center;
  align-items:center;
  -webkit-align-items:center;
  flex-direction: horizontal;
  background-image:-webkit-linear-gradient(top, #e7e7e7, #e7e7e7, transparent, transparent);
  background-image:linear-gradient(to bottom, #e7e7e7, #e7e7e7, transparent, transparent);
  background-size: 100% 1px;
  background-position:bottom;
  background-repeat: no-repeat;
}
.dt-header .dt-item,.dt-content .dt-item{
  flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex:1;
  box-sizing: border-box;
}
.dt-header .dt-item{
  height:44px;
  line-height:44px;
  padding:0 1rem;
  font-size:1.4rem;
  color:#666;
}
.dt-header .dt-item:last-child{
  text-align:right;
}
.dt-content{
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  width:100%;
  box-align:center;
  -webkit-box-align: center;
  -weikit-align-items:center;
  align-items:center;
  padding:10px 0;
}

.scroller{
  height:238px;
  overflow-x:hidden;
  position:relative;
}
.xs-content{
  padding:102px 0;
}
.scroller-mask{
  position:absolute;
  left:0;
  top:0;
  height:100%;
  margin:0 auto;
  width:100%;
  z-index:3;
  background-image:-webkit-linear-gradient(top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6)), -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6));
  background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6)), linear-gradient(to top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6));
  background-position:top, bottom;
  background-size:100% 102px;
  background-repeat:no-repeat;
}
.scroller-indicator{
  width:100%;
  height:34px;
  position:absolute;
  left:0;
  top:102px;
  z-index:3;
  background-image:-webkit-linear-gradient(top, #d0d0d0, #d0d0d0, transparent, transparent), -webkit-linear-gradient(bottom, #d0d0d0, #d0d0d0, transparent, transparent);
  background-image:linear-gradient(to bottom, #d0d0d0, #d0d0d0, transparent, transparent), linear-gradient(to top, #d0d0d0, #d0d0d0, transparent, transparent);
  background-position:top, bottom;
  background-size:100% 1px;
  background-repeat:no-repeat;
}
.scroller-item{
  font-size:1.6rem;
  color:#666;
  height:34px;
  line-height:34px;
  text-align:center;
}

.mask{
  position:fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  background:rbga(0,0,0,0.3)
}