.input{
  font-size:0;
  display:inline-block;
  position:relative;
  box-sizing: border-box;
}
.input input{
  font-size:1.4rem;
  padding:0.8rem 1rem;
  width:100%;
  box-sizing: border-box;
  background:none;
  border:1px solid transparent;
  transition:0.3s;
}
.is-conner input{
  border-radius:5px;
}
.is-round input{
  border-radius:2rem;
}
.suffix input{
  padding-right:3rem;
}
.prefix input{
  padding-left:3rem;
}
.suffix .iconfont,.prefix .iconfont{
  font-size:2rem;
  display:inline-block;
  width:3rem;
  text-align:center;
  color:#888;
}
.suffix .iconfont{
  position:absolute;
  right:0;
  top:50%;
  transform:translateY(-50%);
}
.prefix .iconfont{
  position:absolute;
  right:left;
  top:50%;
  transform:translateY(-50%);
}
.input .btn{
  position:absolute;
  right:0;
  top:0;
  bottom:0;
}
.input.is-line .btn{
  top:auto;
  bottom:5px;
}