/*基本样式*/
.radio{
  display:inline-block;
  vertical-align: middle;
  margin-right:1rem;
}
.radio input{
  display:none;
}
.radio .label{
  font-size:1.4rem;
  color:#666;
  position:relative;
  padding-left:20px;
  line-height:1;
}
.radio .label:before{
  content:"";
  display:inline-block;
  width:16px;
  height:16px;
  border:1px solid #ccc;
  border-radius:50%;
  position:absolute;
  left:0;
  top:50%;
  margin-top:-8px;
  box-sizing: border-box;
  transition:.3s;
}
.radio .label:after{
  content:"";
  display:inline-block;
  border-radius:50%;
  position:absolute;
  width:8px;
  height:8px;
  background:#ccc;
  left:4px;
  top:50%;
  opacity:0;
  margin-top:-4px;
  -webkit-transform:scale(0);
  transform:scale(0);
  transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
}
.radio input:checked + .label:after{
  opacity:1;
  -webkit-transform: scale(1);
  transform:scale(1);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.radio input:checked + .label:before{
  border-color:#ccc;
}
/*radio-list*/
.radio-list .radio{
  display:block;
  border-bottom:1px solid #eee;
}
.radio-list .radio .label{
  padding-left:0;
  display:block;
  position:relative;
  padding:1rem;
}
.radio-list .radio .label:before{
  display:none;
}
.radio-list .radio .label:after{
  display:table;
  width:6px;
  height:12px;
  border-top:0;
  border-left:0;
  transform:rotate(45deg) scale(0);
  -webkit-transform:rotate(45deg) scale(0);
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  position:absolute;
  right:0;
  left:auto;
  background:none;
  border-radius:0;
}
.radio-list .radio input:checked + .label:after{
  width: 6px;
  height:12px;
  position: absolute;
  top: 50%;
  right:1rem;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  transition: all .2s ease-in-out;
  margin-top:-10px;
}
.radio-list.steep .radio input:checked + .label{
  background:none;
}
/*radio-button*/
.radio-button{
  font-size:0;
  padding-left:1px;
}
.radio-button .label{
  padding:8px 20px;
  display:inline-block;
  border:1px solid #DCDFE6;
  margin-left:-1px;
}
.radio-button .radio{
  margin:0;
}
.radio-button .label:before,.radio-button .label:after{
  display:none;
}
.radio-button input:checked + .label{
  color:#fff;
}
.radio-button.is-conner .radio:first-child .label{
  border-radius:5px 0 0 5px;
}
.radio-button.is-conner .radio:last-child .label{
  border-radius:0 5px 5px 0;
}
.radio-button.is-round .radio:first-child .label{
  border-radius:50px 0 0 50px;
}
.radio-button.is-round .radio:last-child .label{
  border-radius:0 50px 50px 0;
}
.radio-button.steep input:checked + .label{
  z-index:100;
}
/*颜色*/
.blue .label:after{
  background:#0078D7;
}
.blue input:checked + .label:before{
  border-color:#0078D7;
}
.blue.steep input:checked + .label{
  color:#0078D7;
}
.radio-list.blue input:checked + .label{
  background:#0078D7;
  color:#fff;
}
.radio-list.blue.steep input:checked + .label{
  color:#0078D7;
}
.radio-list.blue.steep input:checked + .label:after{
  border-color:#0078D7;
}
.radio-button.blue input:checked + .label{
  background-color:#0078D7;
  border-color:#0078D7;
}
.green .label:after{
  background:#17A05E;
}
.green input:checked + .label:before{
  border-color:#17A05E;
}
.green.steep input:checked + .label{
  color:#17A05E;
}
.radio-list.green input:checked + .label{
  background:#17A05E;
  color:#fff;
}
.radio-list.green.steep input:checked + .label{
  color:#17A05E;
}
.radio-list.green.steep input:checked + .label:after{
  border-color:#17A05E;
}
.radio-button.green input:checked + .label{
  background:#17A05E;
  border-color:#17A05E;
}
.radio-button.blue.steep input:checked + .label,
.radio-button.green.steep input:checked + .label{
  background:none;
}
/*尺寸*/
.size-medium .label{
  padding-left:2rem;
  font-size:1.6rem;
}
.size-medium .label:before{
  width:18px;
  height:18px;
  margin-top:-9px;
}
.size-medium .label:after{
  width:10px;
  height:10px;
  margin-top:-5px;
}
.radio-button.size-medium .label{
  padding:10px 25px;
}
.size-large .label{
  padding-left:2rem;
  font-size:1.8rem;
}
.size-large .label:before{
  width:20px;
  height:20px;
  margin-top:-10px;
}
.size-large .label:after{
  width:12px;
  height:12px;
  margin-top:-6px;
}
.radio-button.size-large .label{
  padding:12px 30px;
}