html{
  font-size:calc(100vw/37.5);
}
body{
  margin:0;
  line-height:1;
  font-family: Helvetica, Tahoma, Arial, 'Hiragino Sans GB', 'Microsoft YaHei', '\5FAE\8F6F\96C5\9ED1', 'SimSun', '\5B8B\4F53', 'Heiti', '\9ED1\4F53', sans-serif
}
.grid{
  font-size:0;
  .grid-item{
    display:inline-block;
    vertical-align:top;
    height:100%;
  }
}
.row{
  display:table;
  table-layout: fixed;
  .col{
    display:table-cell;
  }
}
.flex{
  display:flex;
}
.t-l{
  text-align:left;
}
.t-r{
  text-align:right;
}
.t-c{
  text-align:center;
}
.v-t{
  vertical-align: top;
}
.v-b{
  vertical-align: bottom;
}
.v-m{
  vertical-align: middle;
}
@for $i from 1 to 6 {
  .f-$i {
    flex: $i;
  }
}
@for $i from 1 to 24 {
  .g-$i {
    width: calc((100/24)*$i)%;
  }
}