$radioSize: 16px;
$blank: 8px;
$borderColor: #ccc;
$activeColor: #03A9F4;
$disabled: #c0c4cc;
.radio-group{
  font-size:0;
  &.fill-active{
    .radio-item input:checked{
      & + .label {
        &:before{
          border-color:$activeColor;
        }
      }
    }
  }
  &.radio-button{
    .radio-item{
      height:auto;
      line-height:auto;
      margin:0;
      input:disabled{
        & + .label{
          border-color:#EBEEF5;
        }
      }
      input:checked{
        & + .label{
          background: $activeColor;
          border-color: $activeColor;
          color:#fff;
        }
      }
      .label{
        display:inline-block;
        padding:$blank $radioSize;
        border:1px solid $borderColor;
        margin-left:-1px;
        &:before,&:after{
          display:none;
        }
      }
    }
  }
  &.radio-button.round{
    .radio-item{
      &:first-child{
        .label{
          border-radius: calc($blank + $radioSize) 0 0 calc($blank + $radioSize);
        }
      }
      &:last-child{
        .label{
          border-radius: 0 calc($blank + $radioSize) calc($blank + $radioSize) 0;
        }
      }
    }
  }
  &.radio-button.conner{
    .radio-item{
      &:first-child{
        .label{
          border-radius: calc($blank/1.5) 0 0 calc($blank/1.5);
        }
      }
      &:last-child{
        .label{
          border-radius: 0 calc($blank/1.5) calc($blank/1.5) 0;
        }
      }
    }
  }
  &.radio-button.small{
    .radio-item{
      .label{
        padding:calc($blank*0.8) calc($radioSize*0.8);
      }
    }
  }
  &.radio-button.mini{
    .radio-item{
      .label{
        padding:calc($blank*0.6) calc($radioSize*0.6);
      }
    }
  }
  &.radio-button.large{
    .radio-item{
      .label{
        padding:calc($blank*1.2) calc($radioSize*1.2);
      }
    }
  }
  .radio-item{
    display:inline-block;
    position:relative;
    height: $radioSize;
    line-height: $radioSize;
    margin-left: $radioSize;
    &:first-child{
      margin:0;
    }
    input{
      display:none;
      &:disabled{
        & + .label{
          color: $disabled;
        }
        &:checked + .label{
          &:after{
            background:$disabled;
          }
        }
      }
      &:checked{
        & + .label{
          &:after{
            background:$activeColor;
          }
        }
      }
    }
    .label{
      font-size:calc($radioSize - 2px);
      padding-left:calc($radioSize + $blank/2);
      &:before{
        content:"";
        display:inline-block;
        width:$radioSize;
        height:$radioSize;
        border:1px solid $borderColor;
        border-radius:50%;
        vertical-align:middle;
        position:absolute;
        left:0;
        top:50%;
        box-sizing:border-box;
        margin-top:calc(-$radioSize/2);
        transition:0.3s;
      }
      &:after{
        content:"";
        display:inline-block;
        width: calc($radioSize - $blank);
        height: calc($radioSize - $blank);
        border-radius:50%;
        position:absolute;
        left:calc($blank/2);
        top:50%;
        margin-top:calc(-($radioSize - $blank)/2);
        transition:0.3s;
      }
    }
  }
}